body, html {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("https://khanateoftheholywastes.files.wordpress.com/2015/05/factory-wallpaper-2.jpg");
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2 {
  text-decoration: underline;
}
.title{
  background: #c9f7ff;
}
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
.index {
  padding-top: 35px;
}
.padded-img {
  padding-top: 40px;
  padding-bottom: 40px;
}

.fillwidth {
    min-width: 100%;
    height: auto;
}
.fillheight {
    min-height: 100%; 
    width: auto;
}
