body, html {
  height: 100%;
  margin: 0;
}
body {
  background-image: url("https://khanateoftheholywastes.files.wordpress.com/2015/05/factory-wallpaper-2.jpg");
  width: 100%;
  height: auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
h2 {
  text-decoration: underline;
}
.title{
  background: #c9f7ff;
}
h2 {
  text-decoration: underline;
}
