{% block head %}
  <meta charset='utf-8'>
  <title>Green House Emissions</title>
  <meta name="description" content="Green House emissions information page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/all.css">
{% endblock %}

{% block content %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/agriculture">Agriculture</a>
    <a href="/transportation">Transportation</a>
    <a href="/electricity">Electricity Creation</a>
  </div>
  <br>
  <div class="container">
    <div class="title">
      <center><h1>Agricultural Emissions</h1></center>
    </div>
  </div>
  <br>
  <center>
  <div class="container">
  <div class="jumbotron">
  <center><h2>Agriculture Facts</h2>
    <br>
        <div class="row">
          <div class="col">
            <h5>Most farm-related emissions come in the form of methane (CH4) and nitrous oxide (N2O). Cattle belching (CH4) and the addition of natural or synthetic fertilizers and wastes to soils (N2O) represent the largest sources, making up 65 percent of agricultural emissions globally. </h5>
            <h5>Production of beef and cattle milk accounts for the majority of emissions, contributing 41% and 20%, respectively, of the sector’s emissions. Production of pig meat and poultry meat and eggs contribute 9% and 8%, respectively, of the sector’s emissions (Gerber et al. 2013).</h5>
            <h5>From 2012 to 2030, N2O emissions from agricultural soils are projected to increase by 3.8%, from 2,114 million tonnes of CO2 equivalent to 2,195 million tonnes, which corresponds to 38.1% of total agricultural emissions (FAO 2015)<h5>
              <img src="https://cdn3.vox-cdn.com/thumbor/_XEDic1KYUBo8ABQvY6o85AFTaw=/800x0/filters:no_upscale()/cdn0.vox-cdn.com/uploads/chorus_asset/file/6678479/Screen%20Shot%202016-06-20%20at%202.05.03%20PM.png" width="410" height="350" alt="cow greenhouse emissions">
            <br>
            <br>
            <h5>While methane doesn't hlinger as long in the atmosphere as carbon dioxide, it is initially far more devastating to the climate because of how effectively it absorbs heat.</h5>
            <br>
          </div>
          <div class="col">
            <img src="https://www.eurekalert.org/multimedia/pub/web/90958_web.jpg" width="600" height="450" alt="agricultural greenhouse emissions">
            <br>
            <h2>How it's linked to Global Warming</h2>
            <br>
            <h5>Agriculture needs an increasing amount of space alongside massive amounts of chemical fertilisers now that the demand for meat and its products has increased dramatically in developing countries. This is damaging forests, which in turn would be able to absorb CO2 and mitigate anthropic (man-made) emissions.).</h5>
            <br>
            <h5>A vicious cycle that makes agriculture both a victim (given the negative effects of global warming on food supply) and a perpetrator (one of the main causes of climate change.</h5>
            <br>
            <h5>In addition the use of synthetic fertilizers contributes 13% to agricultural emissions worldwide. Rice paddy fields emit methane through decomposing organic matter in the fields and contribute 10% to agricultural emissions. Other agricultural activities, such as burning vegetation biomass and cultivating organic soils, emit lower amounts of GHGs.</h5>
            <img src="https://www.metoffice.gov.uk/binaries/content/gallery/mohippo/images/research/research-news-images/methane-graphic-resized.jpg" width="500" height="370" alt="agriculture farm">
          </div>
        </div>
        </div>
        </div>
    <div class="container">
    <div class="jumbotron">
      <center><h2>Actions we can take</h2>
      <div class="row">
        <div class="col">
            <br>
            <h5>Agricultural emissions can be limited through smarter livestock handling, technology-enabled monitoring of fertilizer application, simple changes in field layout and other, more efficient agricultural techniques. Groups like Solutions from the Land are working with American farmers to find ways to reduce emissions without sacrificing production, and the US Department of Agriculture set up Climate Hubs to help farmers adapt to and mitigate climate change. </h5>
            <br>
            <h5>Meanwhile, international groups like the Consortium of International Agricultural Researchers and the International Food Policy Research Institute are conducting ground-breaking research to determine just how climate change will impact farmers and what they can do about it.</h5>
            <br>
            <img src="https://images.theconversation.com/files/153948/original/image-20170123-8093-12yfz0g.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip" width="460" height="400" alt="smart agriculture plan">
        </div>
        <div class="col">
          <br>
          <img src="https://discovernerp.ca/wp-content/uploads/2016/07/NERP-ACTION-PLAN_infographic.jpg" width="550" height="450" alt="smart agriculture plan">
          <h5>In addition, GHG intensity from the average western diet could be cut in half by adopting a plant-based diet.</h5>
        </div>
      </div>
    </div>
    </center>
  </div>
  </center>
{% endblock %}
