{% block head %}
  <meta charset='utf-8'>
  <title>Green House Emissions</title>
  <meta name="description" content="Green House emissions information page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/all.css">
{% endblock %}

{% block content %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/agriculture">Agriculture</a>
    <a href="/transportation">Transportation</a>
    <a href="/electricity">Electricity Creation</a>
  </div>
  <br>
  <div class="container">
    <div class="title">
      <center><h1>Electricity Creation Emissions</h1></center>
    </div>
  </div>
  <br>
  <center>
  <div class="container">
  <div class="jumbotron">
  <center><h2>Electricity Creation Facts</h2>
  <br>
  <div class="row">
    <div class="col">
      <h3>Definition of a Killowatt Hour</h3>
      <h5>KilloWatt Hour is a measure of electrical energy equivalent to a power consumption of 1,000 watts for 1 hour.</h5>
      <br>
      <h3>Average Household Usage<h3>
      <h5>The average household uses 8.5 - 10 KilloWatt Hours a day</h5>
      <h5>About 62.8% of the electricity generated in the U.S. is from fossil fuel</h5>
      <br>
      <h4>Amount of Electricity From Fossil Fuels<h4>
      <h5>Natural gas 32.1%</h5>
      <h5>Coal 29.9%</h5>
      <h5>Petroleum 0.8%</h5>
      <br>
      <h4>Amount of Electricity From Other Sources<h4>
      <h5>Nuclear 20%</h5>
      <h5>Renewables 17%</h5>
      <h5>Other Source 0.2%</h5>
      <div class="padded-img">
        <img src="https://media.treehugger.com/assets/images/2011/10/Nuclear_power.JPG" width="450" height="290" alt="Agricultural greenhouse emissions">
      </div>
      <br>
      <h3>Calculations</h3>
      <h5>To find how much carbon emissions are created from average we get the average amount of Coal, Natural Gas, and Petroleum created energy used.<h5>
      <br>
      <h5>Natural Gas creates about 3.21 KilloWatt Hours</h5>
      <h5>Coal creates about 2.99 KilloWatt Hours</h5>
      <h5>Petroleum creates about 0.08 KilloWatt Hours</h5>
      <br>
      <h4>Multiply the Killowatt Hours with Amount of CO2 created</h4>
      <h5>Natural Gas 3.21 * 0.00018 = 0.0005778 tCO2e</h5>
      <h5>Coal 2.99 * 0.00036 = 0.0010764 tCO2e</h5>
      <h5>Petroleum 0.08 * 0.00023 = 0.0000184 tCO2e</h5>
    </div>
    <div class="col">
      <div class="class="padded-img">
        <img src="../static/img/elec.jpg" width="550" height="400" alt="Agricultural greenhouse emissions">
      </div>
      <div class="index">
        <h3>What Produces Carbon Dioxide</h3>
        <h5>The only forms of Electricity creation that create Carbon Dioxide are Fossil Fuels.</h5>
        <h5>Nuclear Power does not produce Carbon Dioxide, It creates water vapour from cooling nuclear material which produces tones of vapor that are vented out the huge cooling tower.</h5>
        <br>
        <h3>Amount of Carbon Created by each Fossil Fuel</h3>
        <p>tCO2 = Metric Tonnes of CO2 Emissions</p>
        <h5>Natural Gas 0.00018 tCO2e</h5>
        <h5>Coal 0.00036 tC02e</h5>
        <h5>Petroleum 0.00023 tC02e</h5>
        <div class="padded-img">
          <img src="https://g.foolcdn.com/image/?url=https%3A%2F%2Fg.foolcdn.com%2Feditorial%2Fimages%2F464328%2Fsolar-panels-with-mountains-in-background.jpg&w=700&op=resize" width="448" height="290" alt="Agricultural greenhouse emissions">
        </div>
        <br>
        <h4>Total</h4>
        <h5>The average house will use about 0.00049113 - 0.0016726 tCO2e a day</h5>
        <h5>The average house will use about 0.00273955 - 0.0010764 tCO2e a day</h5>
        <h5>The average house will use about 0.00001564 - 0.0000184 tCO2e a day</h5>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="container">
    <div class="title">
      <center><p>Source for data used above: <a href="https://www.eia.gov/tools/faqs/faq.php?id=427&t=3" target="_blank">Here</a></p></center>
    </div>
  </div>
  <div class="container">
    <div class="jumbotron">
      <h2>Ways to Lower Carbon Emissions in your Household</h2>
      <div class="row">
        <div class="col">
          <div class="padded-img">
            <img src="https://pbs.twimg.com/media/CYMTeqCWkAABQFI.jpg" width="600" height="400">
          </div>
        </div>
        <div class="col">
          <br>
          <br>
          <br>
          <h4>Unplugging Devices<h4>
          <br>
          <h5>Even when devices are plugged and not charging or the device is turned off it still pulls power.</h5>
          <br>
          <h5>This is called "vampire power", in the last year it drained 19 billion dollars in electricity.</h5>
          <br>
          <h5>This effect is not limited to charging cables but can also applied to power strips and anything that is always plugged in.</h5>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <br>
          <h4>Making a Home Garden<h4>
          <br>
          <h5>Plants can benefiet the enviorment by absorbing CO2 and helping local bees and insects pollinate and help other plants helping all plants</h5>
          <br>
          <h5>Plants and dirt can help to remove "urban heat island" where concrete doesn't absorb heat, and heat builds up. Dirt and plants can help absorb the extra heat making the enviorment betters</h5>
        </div>
        <div class="col">
          <img src="https://i.ytimg.com/vi/bnpI0M2hQiI/hqdefault.jpg">
        </div>
      </div>
    </div>
  </div>
  </center>
{% endblock %}
