{% block head %}
  <meta charset='utf-8'>
  <title>Green House Emissions</title>
  <meta name="description" content="Green House emissions information page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/all.css">
{% endblock %}

{% block content %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/food">Food</a>
    <a href="/transportation">Transportation</a>
    <a href="/energy">Energy Creation</a>
  </div>
  <br>
  <div class="container">
    <div class="title">
      <center><h1>Green House Emissions</h1></center>
    </div>
  </div>
  <br>
  <div class="container">
  <div class="jumbotron">
    <center><h2>How Carbon Footprint is Measured</h2>
      <br>
      <div class="row">
        <div class="col">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxI2VvSNAFQa0Ven4Voa6-xVxxfV2eCrG3nAeSajVZHEnal_NL-w" alt="Green House Emission Image">
        </div>
        <div class="col">
          <h5>A carbon footprint is measured in tonnes of carbon dioxide equivalent (tCO2e). CO2e is calculated by multiplying the emissions of each of the six greenhouse gases by its 100 year global warming potential (GWP).</h5>
          <h5>A carbon footprint considers all six of the Kyoto Protocol greenhouse gases: Carbon dioxide (CO2), Methane (CH4), Nitrous oxide (N2O), Hydrofluorocarbons (HFCs), Perfluorocarbons (PFCs) and Sulphur hexafluoride (SF6).</h5>
        </div>
      </div>
    </center>
  </div>
  </div>
  <br>
  <br>
  <div class="container">
  <div class="jumbotron">
    <center><h2>Carbon Emission Impact</h2>
      <br>
      <div class="row">
        <div class="col">
          <ul>
            <h3>Transportation</h3>
            <a class="btn btn-success btn-block btn-lg" href="/transportation" role="button">Find Travel Impact</a>
          </ul>
        </div>

        <div class="col">
          <ul>
            <h3>Food</h3>
            <a class="btn btn-success btn-block btn-lg" href="/food" role="button">Find Food Impact</a>
          </ul>
        </div>
        <div class="col">
          <ul>
            <h3>Energy Creation</h3>
            <a class="btn btn-success btn-block btn-lg" href="/energy" role="button">Energy Creation Impact</a>
          </ul>
      </div>
    </center>
  </div>
  </div>
{% endblock %}
