{% block head %}
  <meta charset='utf-8'>
  <title>Green House Emissions</title>
  <meta name="description" content="Green House emissions information page">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../static/css/all.css">
{% endblock %}

{% block content %}
  <div class="topnav">
    <a href="/">Home</a>
    <a href="/food">Food</a>
    <a href="/transportation">Transportation</a>
  </div>
  <br>
  <center><h1>Agricultural Emissions</h1></center>
  <br>
  <center>
  <div class="container">
  <div class="jumbotron">
  <center><h2>Food Facts</h2>
    <br>
        <div class="row">
          <div class="col">
            <h5>Most farm-related emissions come in the form of methane (CH4) and nitrous oxide (N2O). Cattle belching (CH4) and the addition of natural or synthetic fertilizers and wastes to soils (N2O) represent the largest sources, making up 65 percent of agricultural emissions globally. </h5>
            <h5>Production of beef and cattle milk accounts for the majority of emissions, contributing 41% and 20%, respectively, of the sector’s emissions. Production of pig meat and poultry meat and eggs contribute 9% and 8%, respectively, of the sector’s emissions (Gerber et al. 2013).</h5>
            <h5>Non-CO2 greenhouse gases such as methane, nitrous oxide, and fluorinated greenhouse gases contribute significantly to climate change</h5>
          </div>
          <div class="col">
            <img src="https://www.eurekalert.org/multimedia/pub/web/90958_web.jpg" width="600" height="450" alt="agricultural greenhouse emissions">
          </div>
  </div>
  </center>
{% endblock %}
