{% block head_meta %}
	<meta charset='utf-8'>
  <title>Green House Emissions</title>
  <meta name="description" content="Green House emissions information page">
{% endblock %}

{% block head_css%}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="../static/bootstrap.min.css">
{% endblock %}

{% block footer %}
  <footer>

    <h3>Green House Emissions</h3>

    <div class="container">

      <div class="row">

        <div class="col-xs-3">
            <strong><center><p>Quick Links</p></center></strong>
          </div>

          <div class="col-xs-3">
            <strong><center><p>Forms</p></center></strong>
          </div>

          <div class="col-xs-3">
            <strong><center><p>Help</p></center></strong>
          </div>

          <div class="col-xs-3">
            <strong><center><p>Policies</p></center></strong>
          </div>

        </div>

      </div>

      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <center><h4>© 2019 Random-Coders Github Organization. All Rights Reserved.</h4></center>
          </div>
        </div>
      </div>
    </footer>

{% endblock %}
